PROJECT_NAME=AiMA_VPN
GITHUB_REPOSITORY=aima666qs-commits/VPN

CONTROL_SERVER_IP=
NODE_1_IP=
NODE_2_IP=
SSH_USER=root
SSH_PRIVATE_KEY_PATH=

PANEL_DOMAIN=
API_DOMAIN=
SUBSCRIPTION_DOMAIN=

TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_IDS=

VERCEL_ORG_ID=
VERCEL_PROJECT_ID=
VERCEL_TOKEN=

HF_TOKEN=
HF_ANALYTICS_ENABLED=false

ADMIN_EMAIL=
ADMIN_PASSWORD=
